html {
  background-color: black;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

img {
  border: 5px solid white;
  width: 100%;
  margin-top: 100px;
}

h1,
p {
  color: white;
  text-align: center;
}

.combo {
  width: 50%;
  margin-left: 25%;
}

h1 {
  text-transform: uppercase;
}
